---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
import Logo from '../assets/logo2.svg'
---
<BaseLayout title="Homepage">  
  <img src={Logo} class="logofront" />
  <br/>
  
  <h1>Que actividades extraescolares ofertamos en escuela ideo?</h1>
  <img src=https://flojim.com/wp-content/uploads/2021/05/Dise%C3%B1o-sin-t%C3%ADtulo-1.png
 
</BaseLayout>